:root {
	--myColor: #85848a;
	--backgroundColor: #c3c3d1;
	--btnColor: rgb(216, 13, 13);
}
body {
	margin: 0;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.container {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}
.btn {
	display: block;
	max-width: fit-content;
	padding: 1rem 1.6rem;
	background-color: var(--btnColor);
	color: #fff;
	font-size: 1.2rem;
	text-decoration: none;
}
.btn:hover {
	background: none;
	color: var(--btnColor);
	border: 1px solid brown;
	text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.6);
}
#logolink {
	display: block;
	text-align: center;
}
header > hr {
	width: 90%;
	height: 2px;
	background: var(--myColor);
}
header > a > img {
	width: 290px;
	height: 250px;
}
/* --------------MENU-------------- */
.topnav {
	margin-bottom: 0.5rem;
	text-align: center;
}
.topnav a {
	display: inline-block;
	padding: 1rem 1.5rem;
	font-size: 1rem;
	font-weight: 600;
	letter-spacing: 0.1rem;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: var(--myColor);
}
.topnav a:hover {
	background-color: var(--myColor);
	color: #fff;
}
.topnav .mobileMenuIcon {
	display: none;
}
/* --------------/MENU-------------- */
/* --------------BANER-------------- */
.baner {
	display: flex;
	align-items: center;
	min-height: 600px;
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)),
		url(./images/creative.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}
.baner h1 {
	font-size: 4rem;
	font-weight: 700;
	color: #fff;
}
.baner .container {
	padding: 2rem;
}
.baner h3 {
	font-size: 2rem;
	font-weight: 500;
	color: #fff;
}

/* --------------/BANER-------------- */

/* --------------MAIN-------------- */
main {
	background: var(--backgroundColor);
}
main .container {
	display: flex;
	column-gap: 1rem;
}
.mainItem {
	position: relative;
	padding: 1rem;
	margin: 1rem 0;
	background: white;
}
.containerFoto {
	position: absolute;
	top: 1rem;
	left: 1rem;
	display: flex;
}
.btnImg {
	margin: 1rem;
	max-width: fit-content;
	padding: 0.3rem 0.7rem;
	background-color: var(--btnColor);
	color: #fff;
	text-decoration: none;
}
.btnImg:hover {
	color: white;
	background: none;
	border: 1px solid white;
}
main .container #mainColumn {
	flex: 70vw;
}
main .container #mainAside {
	flex: 30vw;
}
/* --------------/MAIN-------------- */
/* --------------ARTICLE-------------- */
.articleThumbnail {
	display: block;
	width: 100%;
}
.entryMeta {
	padding: 1rem 0;
}
.entryMeta a {
	text-decoration: none;
	color: rgb(221, 59, 59);
}
.fa-my-class {
	position: relative;
	bottom: 0.2rem;
	padding: 0 0.2rem;
	font-size: 0.3rem;
}
article h2 a {
	text-decoration: none;
	font-weight: 600;
	font-size: 2rem;
	line-height: 1.4;
	font-style: italic;
	color: var(--myColor);
}
article p {
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	color: #222;
}
.entryFooter {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 1rem;
}
.share-icons a {
	letter-spacing: 1rem;
	font-size: 1.2rem;
	color: rgba(0, 0, 0, 0.7);
}

/* --------------/ARTICLE-------------- */

/* --------------ASIDE-------------- */
.quote {
	text-align: center;
	background-color: var(--btnColor);
	color: #fff;
}
.quote p:nth-child(1) {
	font-size: 1.2rem;
	font-style: italic;
}
.quote p:nth-child(2) {
	font-size: 0.8rem;
}
.mainItem h4 {
	text-transform: uppercase;
	color: var(--myColor);
}
.mainItem.tags a {
	display: inline-block;
	padding: 0.6rem 1rem;
	margin: 0.2rem 0.1rem;
	text-decoration: none;
	text-transform: uppercase;
	background-color: #ccc;
	color: black;
}
.mainItem.recentComments ul {
	margin: 0;
	padding: 0;
}
.mainItem.recentComments ul li {
	position: relative;
	padding: 1rem 0;
	list-style-type: none;
}
.mainItem.recentComments ul li span {
	color: var(--btnColor);
}
.mainItem.recentComments ul li a {
	display: block;
	padding-top: 0.3rem;
	font-size: 1.2rem;
	font-style: italic;
	text-decoration: none;
	color: #444;
}
.mainItem.recentComments ul li span::before {
	content: "\2014";
	padding-right: 0.3rem;
	color: #000;
}
.mainItem.recentComments ul li:not(:last-child)::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	border-bottom: 1px solid #ccc;
}

.mainItem.categories ul {
	margin: 0;
	padding: 0;
}
.mainItem.categories ul li {
	position: relative;
	padding: 1rem 0;
	margin: 1rem 0;
	list-style-type: none;
}
.mainItem.categories ul li a {
	text-decoration: none;
	color: #000;
}
.mainItem.categories ul li::before {
	content: "\25B6";
	padding-right: 0.3rem;
}
.mainItem.categories ul li:not(:last-child)::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	border-bottom: 1px solid #ccc;
}

/* --------------/ASIDE-------------- */

/* --------------FEATURED-------------- */
#featured {
	background-color: var(--backgroundColor);
}
#featured .container {
	padding: 1rem;
	box-sizing: border-box;
	background-color: #fff;
}
#featured .container .featuredItems {
	display: flex;
	column-gap: 1rem;
}
.featuredItem img {
	width: 100%;
	transition: transform 0.6s ease;
}
.featuredItem div {
	overflow: hidden;
}
.featuredItem img:hover {
	transform: scale(1.5);
}
.featuredItem h3 {
	font-style: italic;
	font-size: 600;
	color: var(--myColor);
}
.featuredItem h4 {
	font-weight: 400;
	color: #666;
}
.featuredItem h4::before {
	content: "\2015";
	padding-right: 0.3rem;
}
#featured .container h4 {
	text-transform: uppercase;
	color: var(--myColor);
}

/* --------------/ FEATURED-------------- */

/* --------------MEDIA-------------- */
@media screen and (max-width: 760px) {
	/* --------------MENU-------------- */
	header > hr {
		display: none;
	}
	.topnav {
		text-align: left;
	}
	.topnav a:not(:first-child) {
		display: none;
	}
	.topnav a.mobileMenuIcon {
		display: block;
		float: right;
	}
	.topnav.responsive {
		position: relative;
	}
	.topnav.responsive a.mobileMenuIcon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a {
		display: block;
		text-align: left;
		float: none;
	}
	/* --------------MAIN-------------- */

	main .container {
		flex-direction: column;
	}
	main .container #mainColumn {
		flex: auto;
	}
	main .container #mainAside {
		flex: auto;
	}
	/* --------------/MAIN-------------- */
	/* --------------ARTICLE-------------- */
	.entryFooter {
		flex-direction: column-reverse;
		row-gap: 1rem;
		text-align: center;
	}
	/* --------------/ARTICLE-------------- */
	/* --------------ASIDE-------------- */

	/* --------------/ASIDE-------------- */

	/* --------------FEATURED-------------- */
	#featured .container .featuredItems {
		flex-wrap: wrap;
		column-gap: 1rem;
		justify-content: center;
	}
	.featuredItem {
		max-width: 220px;
	}

	/* --------------/FEATURED-------------- */
}

@media screen and (max-width: 340px) {
	header > a > img {
		width: 50vw+10%;
	}
	/* --------------MENU-------------- */

	/* --------------BANER-------------- */

	.baner h1 {
		font-size: 12vw;
	}
	.baner h3 {
		font-size: 7vw;
	}
	/* --------------BANER-------------- */
}
