:root {
	--myColor: #85848a;
	--backgroundColor: #c3c3d1;
}
body {
	margin: 0;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.container {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}
.btn {
	display: block;
	max-width: fit-content;
	padding: 1rem 1.6rem;
	background-color: rgb(216, 13, 13);
	color: #fff;
	font-size: 1.2rem;
	text-decoration: none;
}
.btn:hover {
	background: none;
	border: 1px solid brown;
	text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.6);
}
#logolink {
	display: block;
	text-align: center;
}
header > hr {
	width: 90%;
	height: 2px;
	background: var(--myColor);
}
header > a > img {
	width: 290px;
	height: 250px;
}
/* --------------MENU-------------- */
.topnav {
	margin-bottom: 0.5rem;
	text-align: center;
}
.topnav a {
	display: inline-block;
	padding: 1rem 1.5rem;
	font-size: 1rem;
	font-weight: 600;
	letter-spacing: 0.1rem;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: var(--myColor);
}
.topnav a:hover {
	background-color: var(--myColor);
	color: #fff;
}
.topnav .mobileMenuIcon {
	display: none;
}
/* --------------MENU-------------- */
/* --------------BANER-------------- */
.baner {
	display: flex;
	align-items: center;
	min-height: 600px;
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)),
		url(./images/creative.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}
.baner h1 {
	font-size: 4rem;
	font-weight: 700;
	color: #fff;
}
.baner .container {
	padding: 2rem;
}
.baner h3 {
	font-size: 2rem;
	font-weight: 500;
	color: #fff;
}

/* --------------BANER-------------- */

/* --------------MAIN-------------- */
main {
	background: var(--backgroundColor);
}
main .container {
	display: flex;
}
.mainItem {
	position: relative;
	padding: 1rem;
	margin: 1rem 0.5rem;
	background: white;
}
.containerFoto{	
	position: absolute;
	top:1rem;
	left: 1rem;
	display: flex;
}
.btnImg{
	margin: 1rem;	
	max-width: fit-content;
	padding: 0.3rem .7rem;
	background-color: rgb(216, 13, 13);
	color: #fff;
	text-decoration: none;
}
main .container #mainColumn {
	flex: 70vw;
}
main .container #mainAside {
	flex: 30vw;
}
/* --------------MAIN-------------- */
/* --------------ARTICLE-------------- */
.articleThumbnail {
	display: block;
	width: 100%;
}
.entryMeta {
	padding: 1rem 0;
}
.entryMeta a {
	text-decoration: none;
	color: rgb(221, 59, 59);
}
.fa-my-class {
	position: relative;
	bottom: 0.2rem;
	padding: 0 0.2rem;
	font-size: 0.3rem;
}
article h2 a {
	text-decoration: none;
	font-weight: 600;
	font-size: 2rem;
	line-height: 1.4;
	font-style: italic;
	color: var(--myColor);
}
article p {
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	color: #222;
}
.entryFooter {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 1rem;
}
.share-icons a {
	letter-spacing: 1rem;
	font-size: 1.2rem;
	color: rgba(0, 0, 0, 0.7);
}

/* --------------ARTICLE-------------- */

/* --------------MEDIA-------------- */
@media screen and (max-width: 760px) {
	/* --------------MENU-------------- */
	header > hr {
		display: none;
	}
	.topnav {
		text-align: left;
	}
	.topnav a:not(:first-child) {
		display: none;
	}
	.topnav a.mobileMenuIcon {
		display: block;
		float: right;
	}
	.topnav.responsive {
		position: relative;
	}
	.topnav.responsive a.mobileMenuIcon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a {
		display: block;
		text-align: left;
		float: none;
	}
	/* --------------MAIN-------------- */

	main .container {
		flex-direction: column;
	}
	main .container #mainColumn {
		flex: auto;
	}
	main .container #mainAside {
		flex: auto;
	}
	/* --------------MAIN-------------- */
	/* --------------ARTICLE-------------- */
	.entryFooter {
		flex-direction: column-reverse;
		row-gap: 1rem;
		text-align: center;
	}
	/* --------------ARTICLE-------------- */
}

@media screen and (max-width: 340px) {
	header > a > img {
		width: 50vw+10%;
	}
	/* --------------MENU-------------- */

	/* --------------BANER-------------- */

	.baner h1 {
		font-size: 12vw;
	}
	.baner h3 {
		font-size: 7vw;
	}
	/* --------------BANER-------------- */
}
